*{
    padding: 0;
    margin: 0;
}
.container_fluid{
    width: 100%;
    background-color: #eeebe6;
}
.container{
    width: 90%;
    margin: auto;
}
.nav_bar{
    width: 97%;
    margin: auto;
    
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding-top: 55px;
    
}
.page{
    text-decoration: none;
    text-align:unset;
}

.left{
    width: 50%;
}
.background{
    width: 97%;
    margin: auto;
    padding-top: 55px;
}
.background_img{
    height: 650px;
    background-image:linear-gradient(#5b503b7a,#5b503bb3) ,url("image/hero.jpg") ;
    background-size: 100% 100%;
    
    

}


.passage{
    padding-top: 440px;
    text-align: center;

}
.para1{
    width: 50%;
    margin: auto;

    font-size: 26px;
    color: white;
}
.btn1{
    height: 50px;
    width: 205px;
    margin-top: 50px;
    background-color: transparent;
    font-size: 16px;
    color: white;
    border-style: solid;
    border-color: #00000087;
    /* font-family: ; */
}
.first_sec{
    width: 97%;
    margin: auto;
    
    margin-top: 60px;
    
}
.para2{
    float: left;
    width: 50%;
    
}
a{
    color: #3f3c3c;
}
.row_1_1{
    margin-top: 10px;
}
.time{
    color: #4e717b;
    font-size: 12px;
    font-family: "Source Serif Pro", serif;
}
.para8{
    font-size: 16px;
    font-family: "Source Serif Pro", serif;
    color: #547179;
}
a{
    float: left;
   text-align: end;
    width: 50%;
}
.col-2{
    width: 100%;
    padding-top: 30px;
    display: table;
}
.row_1{
    width: 32%;
    margin:1%;
    margin-left: unset;
    float: left;
}
.row_2{
    width: 32%;
    margin:1%;
    float: left;
}
.row_3{
    width: 32%;
    margin-top:1%;
    margin-bottom: 1%;
    margin-left: 1%;
    float: left;
}
.same{
    width: 100%;
    height: 100%;
}
.sec_sec{
    width: 97%;
    margin: auto;
    display: flex;
    margin-top: 60px;
    text-align: center;
    justify-content: space-between;
    
}
.col_left{
    width: 49%;
    height: 340px;
    background-image:linear-gradient(#5b503b7a,#5b503bb3), url("image/lightroom.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-content:center;
}
.col_right{
    width: 49%;
    height: 340px;
    background-image:linear-gradient(#5b503b7a,#5b503bb3), url("image/photography.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-content:center;
}
h2{
    font-size: 24px;
    color: white;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.9px;
}
.para10{
    font-size: 20px;
    color: white;
    padding: 15px;
}
.sec_sec_1{
    width: 100%;
    margin: auto;
    display: flex;
    padding-top: 60px;
    text-align: center;
    justify-content: space-between;
    
}
.col_left_1{
    width: 50%;
    height: 300px;
    background-color: #E0DBD3;
    align-content:center;
}
.col_right_1{
    width: 50%;
    height: 300px;
    background-color: #CFCAC1;
    align-content:center;
}
h3{
    color: #767676;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
    line-height: 28px;
    
}
.para11{
    font-size: 25px;
    margin-bottom: 30px;
}
.ic{
    font-size: 30px;
    
}
.btn2{
    height:50px ;
    width: 200px;
    background-color: black;
    color: white;
    border-style: none;
    font-size: 18px;
    font-weight: 400;
}
.footer{
    width: 100%;
    height: 200px;
    text-align: center;
    align-content: center;
    
}
.bottom{
    
    width: 30%;
    margin: auto;
    
}
span{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    color: #666161;
}